.container {
    background-color: blue;
    border: 5px solid yellow;
    height: 300px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    border: 30px solid black;
    background: pink;
    height: 70px;
    width: 70px;
    text-align: center;
}